h1 {
    text-align: center;
}

canvas {
    border-width: 2px;
    border-style: solid;
    border-color: black;
}

div#wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 800px;
    margin: 0 auto;
}

div#outer {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

div#canvas {
    float: left;
}

div#footer {
    display: flex;
    justify-content: space-between;
    margin: 0;
    width: 100%;
    font-size: 0.8em;
    opacity: 0.7;
    font-family: monospace;
}

div#action {
    float: right;
    margin: 50px auto auto auto;
}
